dxcam
matplotlib
numpy
nvidia-cuda-runtime-cu12
onnx
pywin32
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-intel
tensorflowjs
tensorrt
tensorrt-cu12
tensorrt-cu12_bindings
tensorrt-cu12_libs
torch
torchaudio
torchvision
ultralytics
ultralytics-thop